.btn {
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 50px;
  color: #707070;
  font-weight: 700;
  
  &__login {
    padding: 15px 50px;
    margin: 15px auto 0;
    display: block;
    font-size: 16px;
  }
}

.sign-out {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}