body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #707070;
}

#root {
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .Align h4{
//   text-align: center;
//   margin: 0;
// }

// .Login-register-form {
//   margin-top: 60px;
// }



// .Align-beside {
//   width: 350px;
//   display: flex;
//   justify-content: space-between;
// }



// .Link {
//   text-decoration: none;
//   color: #707070;
// }

// .Link-voltar {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-decoration: none;
//   height: 60px;
//   width: 180px;
//   margin: 10px 0 0;
//   background-color: transparent;
//   border: 1px solid #707070;
//   border-radius: 50px;
//   font-size: 30px;
//   font-weight: 700;
//   color: #707070;
// }


